---
layout: default
title: About the Band
---

			<div class="col-xs-12 col-md-12 tos-content-page-container">
				<div class="tos-newspaper-left container">
					<div class="row">
						<div class="col-xs-12">
							<p class="page-title">{{ page.title }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div id="bio-photo-container"><!--
								{% assign members_sorted = site.data.members | sort: 'bio_photo_order', 'last' %}
								{% for member in members_sorted limit:6 %}
								--><div id="bio-photo-{{ member.bio_photo_order }}" class="bio-photo-panel"><a href="#{{ member.id }}" title="{{ member.name }}"></a></div><!--
								{% endfor %}
								--><div id="bio-photo-8" class="bio-photo-panel"><a href="https://en.wikipedia.org/wiki/Lincoln,_Illinois" title="Lincoln, Illinois"></a></div>
								<img id="bio-mobile-photo" src="{{ site.data.assets.bio_photo }}" alt="" />
							</div>
						</div>
						<div class="col-lg-10 col-lg-offset-1">
							<p class="tos-bio">{{ site.data.global.band_bio }}</p>
						</div>
						<div class="col-xs-12">
							<div id="band-member-list" class="list-group">
								{% for member in site.data.members %}
								<div class="list-group-item band-member-item">
									<a id="{{ member.id }}"></a>
									<h4 class="list-group-item-heading">{{ member.name }}</h4>
									<dl>
										<dt>Role:</dt>
										<dd>{{ member.role }}</dd>
										<dt>Musical Influences:</dt>
										<dd>{{ member.influences }}</dd>
										<dt>Fun Fact:</dt>
										<dd>{{ member.fact }}</dd>
									</dl>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
