---
layout: default
---

			<div class="col-xs-12 col-md-8 tos-comic-panel">
				<div class="tos-announce-container">
					<a href="{{ site.data.assets.main_banner_url }}" class="tos-announce-link"><img class="tos-announce-image" src="{{ site.data.assets.main_banner_image }}" /></a>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 tos-comic-panel">
				<iframe class="tos-announce-video" src="{{ site.data.assets.primary_video_url }}" allowfullscreen></iframe>
			</div>

			<div class="clearfix visible-md-block visible-lg-block"></div>

			<div class="col-xs-12 col-md-4 tos-comic-panel">
				<div class="tos-announce-caption tos-announce-caption-top">In Recent News...</div>
				<div class="tos-newspaper-left container">
					<div class="row">
						<div class="col-xs-12">
							<p class="tos-newspaper-title">Daily <span class="glyphicon glyphicon-tree-conifer"></span> Plant</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						<ul>
							{% for headline in site.data.global.headlines %}
							<li>{{ headline }}</li>
							{% endfor %}
						</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 col-md-push-4 tos-comic-panel">
				<div class="tos-announce-caption tos-announce-caption-top">Coming soon to a location near you...</div>
					<div class="tos-newspaper-right container">
						<div class="row">
							<div class="col-xs-12">
								<p class="tos-newspaper-title">Show Times</p>
							</div>
						</div>
					<div class="row">
						{% assign output_hr = false %}
						{% for show in site.data.shows limit:3 %}
						{% if output_hr == true %}
						<div class="col-xs-12">
							<hr class="tos-event-list-separator" />
						</div>
						{% endif %}
						<div class="col-xs-4">
							{% if show.url %}<a href="{{ show.url }}">{% endif %}{{ show.datetime | date: "%-m/%e" }}{% if show.url %}</a>{% endif %}<br />
							{% capture showtime %}{{ show.datetime | date: "%l:%M %p" }}{% endcapture %}
							{% if showtime != "12:00 AM" %}{% if show.url %}<a href="{{ show.url }}">{% endif %}{{ show.datetime | date: "%l:%M %p" }}{% if show.url %}</a>{% endif %}{% endif %}
						</div>
						<div class="col-xs-8">
							{% if show.url %}<a href="{{ show.url }}">{% endif %}{{ show.venue }}{% if show.url %}</a>{% endif %}<br />
							{% if show.url %}<a href="{{ show.url }}">{% endif %}{{ show.citystate }}{% if show.url %}</a>{% endif %}
						</div>
						{% assign output_hr = true %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 col-md-pull-4 tos-comic-panel tos-panel-logo-container">
				<iframe class="tos-announce-video hidden-xs hidden-sm" src="{{ site.data.assets.secondary_video_url }}" allowfullscreen></iframe>
				<div class="tos-mailing-list-form hidden-md hidden-lg">
					<div id="mc_embed_signup">
						<form action="{{ site.data.global.website_mailing_list_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll">
								<h2>Join our {{ site.data.global.website_mailing_list_name }}</h2>
								<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
								<div class="mc-field-group">
									<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
									</label>
									<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
								</div>
								<div class="mc-field-group">
									<label for="mce-FNAME">First Name </label>
									<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
								</div>
								<div class="mc-field-group">
									<label for="mce-LNAME">Last Name </label>
									<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
								</div>
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response"></div>
									<div class="response" id="mce-success-response"></div>
								</div>
								<div class="mc-trap"><input type="text" name="{{ site.data.global.website_mailing_list_trap }}" tabindex="-1" value=""></div>
								<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
