---
layout: default
title: Photos/Videos
---

			<div class="col-xs-12 col-md-12 tos-content-page-container">
				<div class="tos-newspaper-left container">
					<div class="row">
						<div class="col-xs-12">
							<p class="page-title">Photos/Videos</p>
						</div>
					</div>
					<div class="row tos-gallery">

						{% for medium in site.data.media %}

						{% if medium.type == 'image' %}
						<a href="img/media/{{ medium.id }}.jpg" data-toggle="lightbox" data-gallery="tos-media" data-title="{{ medium.caption }}" data-footer="Credit: {{ site.data.sources[medium.source].name }}" class="col-xs-12 col-sm-6 col-md-4 tos-media-link">
							<img src="img/media_t/{{ medium.id }}t.jpg" class="tos-media-thumb img-responsive" alt="{{ medium.caption }}. Credit: {{ site.data.sources[medium.source].name }}" />
						</a>
						{% elsif medium.type == 'youtube' %}
						<a href="https://www.youtube.com/watch?v={{ medium.embed_url }}" data-toggle="lightbox" data-gallery="tos-media" data-title="{{ medium.caption }}" data-footer="Credit: {{ site.data.sources[medium.source].name }}" data-width="1000" class="col-xs-12 col-sm-6 col-md-4 tos-media-link">
							<img src="img/media_t/{{ medium.id }}t.jpg" class="tos-media-thumb img-responsive" alt="{{ medium.caption }}. Credit: {{ site.data.sources[medium.source].name }}" />
						</a>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
