		<div class="row tos-mobile-social hidden-md hidden-lg">
			<div class="col-xs-12">
				<p>
					<a href="{{ site.data.global.website_facebook }}" class="tos-social-icon-fb"><i class="fa fa-facebook-official"></i></a>
					<a href="{{ site.data.global.website_twitter }}" class="tos-social-icon-tw"><i class="fa fa-twitter"></i></a>
					<a href="{{ site.data.global.website_youtube }}" class="tos-social-icon-yt"><i class="fa fa-youtube"></i></a>
					<a href="{{ site.data.global.website_vine }}" class="tos-social-icon-vn"><i class="fa fa-vine"></i></a>
					<a href="{{ site.data.global.website_instagram }}" class="tos-social-icon-ig"><i class="fa fa-instagram"></i></a>
					<a href="{{ site.data.global.website_myspace }}"><img src="img/icon-myspace-white.png" alt="Myspace" class="tos-social-icon" /></a>
				</p>
			</div>
		</div>
		<div class="row copyright">
			<div class="col-xs-12">
				<p>{{ site.data.global.website_copyright }}</p>
				<p>{{ site.data.global.website_credit }}</p>
			</div>
		</div>
	</div>

	<small class="tos-delta" title="{{ site.data.global.website_version }}, {{ site.time | date: "%b. %-e, %Y %l:%M %p" }}">&Delta;</small>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
	</script>
	<script>
		window.jQuery.ui || document.write('<script src="js/vendor/jquery-ui-1.11.4.min.js"><\/script>')
	</script>

	<script src="js/vendor/bootstrap-3.3.1.min.js"></script>
	<script src="js/vendor/ekko-lightbox-4.0.0.min.js"></script>

	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
