		<div class="row tos-mobile-social hidden-md hidden-lg">
			<div class="col-xs-12">
				<p>
					<a href="https://www.facebook.com/TheOriginStory" class="tos-social-icon-fb"><i class="fa fa-facebook-official"></i></a>
					<a href="https://twitter.com/TheOriginStory_" class="tos-social-icon-tw"><i class="fa fa-twitter"></i></a>
					<a href="https://www.youtube.com/TheOriginStoryOfficial" class="tos-social-icon-yt"><i class="fa fa-youtube"></i></a>
					<a href="https://vine.co/TheOriginStory" class="tos-social-icon-vn"><i class="fa fa-vine"></i></a>
					<a href="https://instagram.com/TheOriginStory" class="tos-social-icon-ig"><i class="fa fa-instagram"></i></a>
					<a href="https://myspace.com/TheOriginStory"><img src="img/icon-myspace-white.png" alt="Myspace" class="tos-social-icon" /></a>
				</p>
			</div>
		</div>
		<div class="row copyright">
			<div class="col-xs-12">
				<p>&copy; 2015&nbsp;-&nbsp;2016 The Origin Story</p>
				<p><a href="https://www.youtube.com/watch?v=nbV8gFf0rYc#t=1m2s">I Am Dan Man</a></p>
			</div>
		</div>
	</div>

	<small class="tos-delta" title="v1.2.0, 10/15/16">&Delta;</small>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
	</script>
	<script>
		window.jQuery.ui || document.write('<script src="js/vendor/jquery-ui-1.11.4.min.js"><\/script>')
	</script>

	<script src="js/vendor/bootstrap-3.3.1.min.js"></script>
	<script src="js/vendor/ekko-lightbox-4.0.0.min.js"></script>

	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
