<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% if page.title %}{{ page.title }} | {% endif %}The Origin Story</title>
	<meta name="description" content="Coming from the planet Earth, The Origin Story is a ska-punk band that has assembled a league of extraordinary musicians to redefine the central Illinois music scene.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:image" content="http://www.theoriginstory.net/img/tos_logo.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/img/favicon/manifest.json">
	<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#ff0000">
	<link rel="shortcut icon" href="/img/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#111111">
	<meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ff0000">
	<meta name="google-site-verification" content="AtfUNI50xSKD0QR-v2dIooyWL70HYK0K4LR-HBPkt-U" />

	<link rel="stylesheet" href="css/bootstrap-3.3.1.min.css">
	<style>
		body {
			padding-top: 50px;
			padding-bottom: 20px;
		}
	</style>
	<link rel="stylesheet" href="css/bootstrap-theme-3.3.1.min.css">
	<link rel="stylesheet" href="css/jquery-ui-1.11.4.min.css">
	<link rel="stylesheet" href="css/ekko-lightbox-4.0.0.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; margin-left: auto; margin-right: auto; background-color: black; color: red;}
		#mc-embedded-subscribe{color: #111111;}
		#mc_embed_signup_scroll > h2{font-family: "komika_titleregular"; font-size: 200%; text-align : center;}
	</style>

	<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
