<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
	<div class="navbar navbar-inverse navbar-fixed-top tos-navbar-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="form" action="https://theoriginstory.us11.list-manage.com/subscribe?u=f83573f34c299b7b16fe28d29&id=e1ef72bdea" method="post">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control" id="EMAIL" name="EMAIL">
					</div>
					<button type="submit" class="btn tos-button-subscribe">Join our Fantastic Fans!</button>
				</form>
				<span class="tos-social navbar-right">
					<a href="https://www.facebook.com/TheOriginStory" class="tos-social-icon-fb"><i class="fa fa-facebook-official"></i></a> 
					<a href="https://twitter.com/TheOriginStory_" class="tos-social-icon-tw"><i class="fa fa-twitter"></i></a> 
					<a href="https://www.youtube.com/channel/UCBlQmnoxBbMRmtiF3jZKMrg" class="tos-social-icon-yt"><i class="fa fa-youtube"></i></a> 
					<a href="https://vine.co/TheOriginStory" class="tos-social-icon-vn"><i class="fa fa-vine"></i></a> 
					<a href="https://instagram.com/TheOriginStory" class="tos-social-icon-ig"><i class="fa fa-instagram"></i></a> 
					<a href="https://myspace.com/TheOriginStory"><img src="img/icon-myspace-white.png" alt="Myspace" class="tos-social-icon" /></a>
				</span>
			</div>
		</div>
	</div>
	<div class="container" id="tos-page-container">
		<div class="row tos-top-panel">
			<div class="hidden-xs hidden-sm col-md-4">
			<p class="tos-title-line">The Origin Story</p>
			</div>
			<div class="col-xs-12 col-md-4">
			<p class="tos-publisher-line">Skarvel Comic Group</p>
			</div>
			<div class="hidden-xs hidden-sm col-md-4">
			<p class="tos-issue-line">#6</p>
			</div>
		</div>
		<div class="row tos-logo-panel">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
			<img src="img/tos_wordmark.png" alt="" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 tos-navbar-container">
				<nav class="navbar tos-navbar-main">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed tos-navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar tos-icon-bar"></span>
								<span class="icon-bar tos-icon-bar"></span>
								<span class="icon-bar tos-icon-bar"></span>
							</button>
							<a class="navbar-brand tos-navbar-brand hidden-md hidden-lg" href="#"><img src="/img/favicon/favicon-96x96.png" alt="The Origin Story" class="tos-navbar-logo" /></a>
							<p class="tos-navbar-brand-text hidden-sm hidden-md hidden-lg"></p>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav tos-navbar-nav">
								<li><a href="/">Home <span class="sr-only">(current)</span></a></li>
								<li><a href="shows">Shows</a></li>
								<li><a href="photos-videos">Photos/Videos</a></li>
								<li class="active"><a href="band">Band</a></li>
								<li><a href="contact">Contact</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
