<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
	<div class="navbar navbar-inverse navbar-fixed-top tos-navbar-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="form" action="{{ site.data.global.website_mailing_list_url }}" method="post">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control" id="EMAIL" name="EMAIL">
					</div>
					<button type="submit" class="btn tos-button-subscribe">Join our {{ site.data.global.website_mailing_list_name }}!</button>
				</form>
				<span class="tos-social navbar-right">
					<a href="{{ site.data.global.website_facebook }}" class="tos-social-icon-fb"><i class="fa fa-facebook-official"></i></a>
					<a href="{{ site.data.global.website_twitter }}" class="tos-social-icon-tw"><i class="fa fa-twitter"></i></a>
					<a href="{{ site.data.global.website_youtube }}" class="tos-social-icon-yt"><i class="fa fa-youtube"></i></a>
					<a href="{{ site.data.global.website_vine }}" class="tos-social-icon-vn"><i class="fa fa-vine"></i></a>
					<a href="{{ site.data.global.website_instagram }}" class="tos-social-icon-ig"><i class="fa fa-instagram"></i></a>
					<a href="{{ site.data.global.website_myspace }}"><img src="img/icon-myspace-white.png" alt="Myspace" class="tos-social-icon" /></a>
				</span>
			</div>
		</div>
	</div>
	<div class="container" id="tos-page-container">
		<div class="row tos-top-panel">
			<div class="hidden-xs hidden-sm col-md-4">
			<p class="tos-title-line">{{ site.data.global.website_title }}</p>
			</div>
			<div class="col-xs-12 col-md-4">
			<p class="tos-publisher-line">{{ site.data.global.website_comic_publisher }}</p>
			</div>
			<div class="hidden-xs hidden-sm col-md-4">
			<p class="tos-issue-line">#{{ site.data.global.issue }}</p>
			</div>
		</div>
		<div class="row tos-logo-panel">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
			<img src="{{ site.data.assets.wordmark }}" alt="" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 tos-navbar-container">
				<nav class="navbar tos-navbar-main">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed tos-navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar tos-icon-bar"></span>
								<span class="icon-bar tos-icon-bar"></span>
								<span class="icon-bar tos-icon-bar"></span>
							</button>
							<a class="navbar-brand tos-navbar-brand hidden-md hidden-lg" href="#"><img src="{{ site.data.assets.favicon_96x96 }}" alt="{{ site.data.global.website_title }}" class="tos-navbar-logo" /></a>
							<p class="tos-navbar-brand-text hidden-sm hidden-md hidden-lg"></p>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav tos-navbar-nav">
								<li{% if page.path == "index.html" %} class="active"{% endif %}><a href="/">Home{% if page.path == "index.html" %}<span class="sr-only"> (current)</span>{% endif %}</a></li>
								<li{% if page.path == "shows.html" %} class="active"{% endif %}><a href="shows">Shows{% if page.path == "shows.html" %}<span class="sr-only"> (current)</span>{% endif %}</a></li>
								<li><a href="{{ site.data.global.website_music_url }}">Music</a></li>
								<li{% if page.path == "photos-videos.html" %} class="active"{% endif %}><a href="photos-videos">Photos/Videos{% if page.path == "photos-videos.html" %}<span class="sr-only"> (current)</span>{% endif %}</a></li>
								<li{% if page.path == "band.html" %} class="active"{% endif %}><a href="band">Band{% if page.path == "band.html" %}<span class="sr-only"> (current)</span>{% endif %}</a></li>
								<li><a href="{{ site.data.global.website_merch_url }}">Merch</a></li>
								<li{% if page.path == "contact.html" %} class="active"{% endif %}><a href="contact">Contact{% if page.path == "contact.html" %}<span class="sr-only"> (current)</span>{% endif %}</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
