<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.data.global.website_title }}</title>
	<meta name="description" content="{{ site.data.global.website_description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:image" content="{{ site.data.assets.og_image }}" />
	<link rel="apple-touch-icon" sizes="57x57" href="{{ site.data.assets.favicon_apple_touch_icon_57x57 }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ site.data.assets.favicon_apple_touch_icon_60x60 }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ site.data.assets.favicon_apple_touch_icon_72x72 }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ site.data.assets.favicon_apple_touch_icon_76x76 }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ site.data.assets.favicon_apple_touch_icon_114x114 }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ site.data.assets.favicon_apple_touch_icon_120x120 }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ site.data.assets.favicon_apple_touch_icon_144x144 }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ site.data.assets.favicon_apple_touch_icon_152x152 }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.data.assets.favicon_apple_touch_icon_180x180 }}">
	<link rel="icon" type="image/png" href="{{ site.data.assets.favicon_32x32 }}" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.data.assets.favicon_192x192 }}" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ site.data.assets.favicon_96x96 }}" sizes="96x96">
	<link rel="icon" type="image/png" href="{{ site.data.assets.favicon_16x16 }}" sizes="16x16">
	<link rel="manifest" href="/img/favicon/manifest.json">
	<link rel="mask-icon" href="{{ site.data.assets.favicon_safari }}" color="#ff0000">
	<link rel="shortcut icon" href="{{ site.data.assets.favicon }}">
	<meta name="msapplication-TileColor" content="#111111">
	<meta name="msapplication-TileImage" content="{{ site.data.assets.favicon_ms }}">
	<meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ff0000">
	<meta name="google-site-verification" content="{{ site.data.global.google_site_verification }}" />

	<link rel="stylesheet" href="css/bootstrap-3.3.1.min.css">
	<style>
		body {
			padding-top: 50px;
			padding-bottom: 20px;
		}
	</style>
	<link rel="stylesheet" href="css/bootstrap-theme-3.3.1.min.css">
	<link rel="stylesheet" href="css/jquery-ui-1.11.4.min.css">
	<link rel="stylesheet" href="css/ekko-lightbox-4.0.0.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; margin-left: auto; margin-right: auto; background-color: black; color: red;}
		#mc-embedded-subscribe{color: #111111;}
		#mc_embed_signup_scroll > h2{font-family: "komika_titleregular"; font-size: 200%; text-align : center;}
	</style>

	<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
